@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

/*---Preloader ---*/

  .loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .3s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176,0);
    border-top: 2px solid rgba(50, 150, 176,0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }
 


/*--general styles--*/

html, body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #ffffff,#ffffff);
    font-family: Montserrat;
  }

  .wrapper {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }


/*---navbar navegación---*/

#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:10;
}

.navbar{
    background-image: linear-gradient(to right, #ffffff,#ffffff);
    padding:0 !important;
}

.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}


.navbar-nav li a{
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important
}

.navbar-text{
  margin-left: auto;
}

/*----Nav Navegator----*/
  
.arrow-btn{
  position: fixed;
  bottom:30px;
  right:30px;
  z-index: 20;
  
}

.arrow-btn a{
  height: 50px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  
}

 /*Tamaño botón navegador*/
.arrow-btn a{
  font-size: 40px;
}


/*----/Nav Navegator----*/


/*--- Hero - carrusel inicial---*/

#hero {
    width: 100%;
    height: calc(100vh - 110px);
    padding: 0;
    overflow: hidden;
    background: #000;
  }

  
  #hero .carousel-item {
    width: 100%;
    height: calc(100vh - 110px);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  /*--Editar apariencia carrusel--*/
  #hero .carousel-item::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  /*--Recuadro (container) carrusel---*/
  #hero .carousel-container {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;  
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    
  }

  .blur{
    width: 680px;
    height: 180px;
    /*background-color: rgba(214, 215, 216, 0.027);*/
    /*backdrop-filter: blur(5px);*/
    /*color: rgb(201, 201, 201);*/
    margin-top: 40vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    position: relative;
    /*border-radius: 25px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*center*/
    /*box-shadow: 8px 0px 16px;*/
  }


  #hero .carousel-content {
    
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-color: #fff;
    border-style: solid;

  }
  
  @media (max-width: 992px) {
    #hero, #hero .carousel-item {
      height: calc(100vh - 70px);
    }
    #hero .carousel-content.container {
      padding: 0 50px;
      
    }
  }
  
  #hero h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    font-weight: 900;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  #hero .carousel-inner {
    transition-property: opacity;
    background-position: center top;
    border-top: 00px;
    border-left: 00px;
    border-right: 00px;
    border-bottom: 5px;
    border-style: solid;
  }
  
  #hero .carousel-item {
    transition-property: opacity;
    background-position: center top;
    border-top: 00px;
    border-left: 00px;
    border-right: 00px;
    border-bottom: 5px;
    border-color: rgb(52, 115, 139);
    border-style: solid;
  }
  
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
  }
  
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
  }
  
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 50px;
    line-height: 1;
    width: auto;
    height: auto;
  }
  
  #hero .carousel-indicators li {
    cursor: pointer;
  }

  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  
  @media (max-height: 500px) {
    #hero, #hero .carousel-item {
      height: 120vh;
    }
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  
/*-------Information parallax-------*/

#information {
  /*imagen con comillas simples para poder correrlo en servidor*/
  background: url('images/backgroundgris.webp') no-repeat center center fixed;
  -moz-transform: translateX(0px); /*Transición parallax para evitar bugs visuales*/
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); /**/
  display: table;
  height: 600px;
  position: relative;
  width: 100%;
  
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 5px;
    border-color: rgb(52, 115, 139);
    border-style: solid;
}


.pad-section .container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  margin-top:10vh;
  margin-bottom:10vh;
  
}

.pad-section .container .card{
  position: relative;
  width: 280px;
  height:400px;
  margin:30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-left: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
 
}

.pad-section .container .card .content{
  padding: 20px;
  text-align:center;

}
.pad-section .container .card .content h3{
  font-size: 1.8em;
  color:#fff;
  z-index: 1;
}



/*-------/Information-------*/

/*--Menu---*/

.mini {
  
  min-height: 215px;
  overflow: hidden;
  position: relative;
  padding-top: 40px;
  padding-bottom: 90px;
  border-left: 0;
  border-top:0;
  border-right: 0;
  border-bottom: 5px;
  border-color: rgb(52, 115, 139);
  border-style: solid;
}

.mini:before {
  display: block;
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: .95;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('images/vector.webp');
  z-index: 2;
  top: -20%;
  left: -20%;
}

.mini .mini-content {
  position: relative;
  margin-top:3%; /*margen entre menú y cards*/
  margin-bottom: 2%;
  z-index: 3;
}

.mini .mini-content .mini-box {
  
  text-decoration: none;
  display: block;
  background:rgb(52, 115, 139);
  padding: 40px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-left: 1px solid rgba(255,255,255,0.1);
  transition: transform 1s;
}


.mini .mini-content .mini-box:hover {
  background:  rgb(50, 150, 176);
  transform: scale(1.1);
  
}

.mini .mini-content .mini-box strong {
  
  display: block;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.mini .mini-content .mini-box small {
  display: block;
  font-weight: 450;
  font-size: 23px;
  color: #ffffff;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mini .mini-content .info{
  margin-top: 0px;
  margin-bottom: 5vh;
  align-items: center;
  text-align: center;
  color:rgb(100, 100, 100);
  
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
  width:100px; 
  margin: auto;
}

/*--/Menu--*/


/*--Modal--*/

#modal-button{
  background-color:#2c8087;
}

.modal-header{
  background-color:#2c8087;
}

.modal-title{
  color:rgb(255, 255, 255);
}

p{
  white-space: pre-wrap;
}

/*--/Modal--*/


  /*--Contacto--*/
  #contacto {    
    /*imagen con comillas simples para poder correrlo en servidor*/
    background: url('images/backgroundgris.webp') no-repeat center center fixed;
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    
    display: table;
    height: 700px;
    position: relative;
    width: 100%;
    /*margin-top: -1vh; En caso de usar vídeo, activar*/
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;    
  }
 
  .contact .container-fluid{
    margin-top:2vh;
  }

  .contact .info-box {    
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    color: #000000;
    text-align: center;
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
    padding: 20px 0 30px 0;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    
  } 
  
  .contact .info-box i {
    font-size: 32px;
    color: #3fbbc0;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #c5ebec;
  }
  
  .contact .info-box h3 {    
    font-size: 23px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {    
    padding: 0;
    line-height: 24px;
    font-size: 17px; 
    margin-bottom: 0;
    
  }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .gform {
  background: #fafbff;
  margin-top: 2vh;
  padding: 32px;
  height: 95%;
  border-radius: 10px;
    color: #000000;
    text-align: center;
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
}

.contact .gform input, .contact .gform textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .gform input:focus, .contact .gform textarea:focus {
  border-color: #218ea1;
}

.contact .gform input {
  padding: 10px 15px;
}

.contact .gform textarea {
  padding: 12px 15px;
}

.contact .gform button[type="submit"] {
  background: #218ea1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .gform button[type="submit"]:hover {
  background: #4592be;
}



