@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

/*--general styles--*/
html, body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #ffffff,#ffffff);
  }

  .wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }

/*---navbar navegación---*/
#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:10;
}

.navbar{
    background-image: linear-gradient(to right, #ffffff,#ffffff);
    padding:0 !important;
}

.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important
}

/*--- Hero - banner inicial---*/

#hero {
    width: 100%;
    height: calc(100vh - 110px);
    padding: 0;
    overflow: hidden;
    background: #000;
  }

  
  #hero .carousel-item {
    width: 100%;
    height: calc(100vh - 110px);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  /*--Editar apariencia carrusel--*/
  #hero .carousel-item::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  /*--Recuadro (container) carrusel---*/
  #hero .carousel-container {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;  
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    
  }
  
  .blur{
    width: 580px;
    height: 280px;
    background-color: rgba(214, 215, 216, 0.027);
    backdrop-filter: blur(5px);
    color: rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 8px 0px 16px;
  }

  #hero .carousel-content {
    text-align: left;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-color: #fff;
    border-style: solid;

  }
  
  @media (max-width: 992px) {
    #hero, #hero .carousel-item {
      height: calc(100vh - 70px);
    }
    #hero .carousel-content.container {
      padding: 0 50px;
      
    }
  }
  
  #hero h2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 0%;
    font-size: 48px;
    font-weight: 900;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  #hero p {
    font-family: Arial, sans-serif;
    width: 80%;
    margin-left: 25px;
    margin-right: 60%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color:#fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  #hero .carousel-inner {
    transition-property: opacity;
    background-position: center top;
    border-top: 00px;
    border-left: 00px;
    border-right: 00px;
    border-bottom: 5px;
    border-style: solid;
  }
  
  #hero .carousel-item {
    transition-property: opacity;
    background-position: center top;
    border-top: 00px;
    border-left: 00px;
    border-right: 00px;
    border-bottom: 5px;
    border-color: rgb(52, 115, 139);
    border-style: solid;
  }
  
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
  }
  
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
  }
  
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 50px;
    line-height: 1;
    width: auto;
    height: auto;
  }
  
  #hero .carousel-indicators li {
    cursor: pointer;
  }
  
  #hero .btn-start {
    text-decoration:none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 0;
    background: #428bca;
    
  }
  
  #hero .btn-start:hover {
    background: #1c5c93;
    margin-left: 50px;
   
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  
  @media (max-height: 500px) {
    #hero, #hero .carousel-item {
      height: 120vh;
    }
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  
/*-------Information-------*/

#information {
  background: url("/testweb/images/backgroundgris.png") no-repeat center center fixed;
  display: table;
  height: 500px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*-------/Information-------*/

/*---------Botones--------*/

  .botones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    width: 50%;
  }

/*---------/Botones--------*/

/*--------Video----------*/

#vid{
    height: 100vh;
    width: 100%;
    /*background: rgb(141, 177, 177);*/
}

#vid::after{
    width: 100%;
    height: 55%;
    content:'';
    position: absolute;
    top:0;
    left:0;
    z-index:0;
     /*background: rgba(0, 0, 0, 0.5);*/
}

#vid video{
    width: 100%;
    height: 55%;
    position: relative;
    top:0;
    left:0;
    z-index:0;
    object-fit:cover;
}


  /*--Contacto--*/
.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  width: 100%;
}

.contact .info-box i {
  font-size: 32px;
  color: #428bca;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #9eccf4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}


